# Backend build files
bin/
obj/

# Frontend dependencies/build
node_modules/
.angular/
dist/

# Visual Studio
.vs/
*.user

# Logs
*.log

# Frontend Angular cache
hrms-client/.angular/

# VS Code
.vscode/

# Rider / Resharper
.idea/